.layout{
    display: flex; 
    /* flex-direction:column;  */
    /* justify-content:space-between; */
    /* align-items: baseline; */
    align-content: center;
    flex-wrap: nowrap;
}
div{
    background-color: blue;
}