.layout {
    display: flex;
}
.mire {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.mira {
    display: flex;
    align-items: center;
    justify-content: space-around;
}